<div id="header">
  <h1>Edit Teacher Record</h1>
</div>

<div id="links">
  <h3>
    <%= link_to 'New Teacher', new_teacher_path, :class => 'link_remote', :remote => true %> |
    <%= link_to 'Show', @teacher, :class => 'link_remote', :remote => true %> |
    <%= link_to 'Back', teachers_path, :class => 'link_remote', :remote => true %>
  </h3>
</div>

<p id="notice"><%= @notice %></p>

<%= render 'form' %>
